{% extends "app/base.html" %}
{% block content %}
<!-- <form method="POST">
{%csrf_token%}
	<div class="switch">
    <label>
      <font color="red">Unfreeze</font>
      <input type="checkbox" name='type'>
      <span class="lever"></span>
      <font color="green">freeze</font>
    </label>
  </div>
	<input type="submit" value="Freeze/Unfreeze Registration">
</form> -->
  <h2>Registration Done for these students :-</h2>
<table class="striped">
{%if students%}
<tr><th>Roll No.</th><th>Name</th><th>Email</th></tr>
{%for s in students%}
<tr><td>{{s.id1}}</td>
<td>{{s.name}}</td>
<td>{{s.email}}</td>
</tr>
{%endfor%}
{%endif%}
</table>

{% endblock %}