{% extends "app/base.html" %}
{% block content %}
<h1>Welcome {{fac}}</h1><br>
<h2>Request table</h2>
<div class="container">
<table border=1>
<tr><th>Name</th>
<th>Branch</th>
<th>Semester</th>
<th>Course Name</th>
<th>Eligible for Course</th>
<th>Any message</th>

</tr>
{% for request in requests %}
<tr>
	<td>{{request.name}}</td>
	<td>{{request.branch}}</td>
	<td>{{request.semester}}</td>
	<td>{{request.course_name}}</td>
	<form method="POST">
	{% csrf_token %}
		<td>

		<div class="switch">
    <label>
      <font color="red">No</font>
      <input type="checkbox" name='type'>
      <span class="lever"></span>
      <font color="green">Yes</font>
    </label>
  </div>
		</td>
		<td><input type="text" name="message" placeholder="Any message for {{request.name}}?"></td>
		<td><input type="submit" value="Submit"></td>
		<input type="hidden" name="name" value="{{request.id1}}">
		<input type="hidden" name="cname" value="{{request.course_name}}">
	</form>
</tr>
{% endfor %}
</table></div>
  <script>
     $(document).ready(function() {
        $('select').material_select();
    });
  </script>
{% endblock %}
