{% extends "app/base.html" %}
{% block content %}
<nav>
    <div class="nav-wrapper">
      IIT Jodhpur Registration Portal
         <div class="brand-logo center">Dr. {{fac}}</div>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li class="active"><a href="/facultyp">Elective Request</a></li>
        <li><a href="/timetable">TimeTable</a></li>
        <li><a href="/facultyc">Mentor Request</a></li>
        <li><a href="/student_course">Course Teaching</a></li>
        <li><a href="/logout_f">Logout</a></li>
      </ul>
    </div>
  </nav>
  <div class="container">
<h4>Welcome {{fac}}</h4><br>
<h5>Elective Requests</h5>

{%if requests%}
<table class="striped">
<tr><th>Name</th>
<th>Branch</th>
<th>Semester</th>
<th>Course Name</th>
<th>Eligible for Course</th>
<th>Any message</th>

</tr>
{% for request in requests %}
<tr>
	<td>{{request.name}}</td>
	<td>{{request.branch}}</td>
	<td>{{request.semester}}</td>
	<td>{{request.course_name}}</td>
	<form method="POST">
	{% csrf_token %}
		<td>

		<div class="switch">
    <label>
      <font color="red">No</font>
      <input type="checkbox" name='type'>
      <span class="lever"></span>
      <font color="green">Yes</font>
    </label>

		</td>
		<td><input type="text" name="message" placeholder="Any message for {{request.name}}?"></td>
		<td> <button class="btn waves-effect waves-light" type="submit">Submit</button></td>
		<input type="hidden" name="name" value="{{request.id1}}">
		<input type="hidden" name="cname" value="{{request.course_name}}">
	</form>
</tr>
{% endfor %}
</table></div>
{%endif%}
  <script>
     $(document).ready(function() {
        $('select').material_select();
    });
  </script>
  </div>
{% endblock %}
