{% extends "app/base.html" %}
{% block content %}
<center>
<h2>Sign In</h2><br>
</center>

<font color="red">
	{%if error %}
	{{error}}
	{% endif %}
</font></center>

<form method="POST" name="login">
{% csrf_token %}
 <div class="container">
Enter LDAP id:<input type="text" name="id" placeholder="Enter LDAP id" required><br>
Password:<input type="password" name="password" placeholder="Password" required><br>
Role:<select name="type" required>
    <option value="student">Student</option>
    <option value="faculty">Faculty</option>		<!-- Also Can look for Radio Buttons here . See later-->
  </select><br>
<center><input type="submit" value="Login"></div></center>
</form>
{% if error %}
<script type="text/javascript">	
alert('{{error}}');		
</script>
{% endif %}
{% endblock %}